body {
  margin: 0;
}

.container {
  height: 500vh;
}

.test {
  display: flex;
  align-items: center;
  justify-content: center;
  background: green;
  width: 100vw;
  height: 100vh;
  transform: scale(1.5, 1.5);
}
