body {
  margin: 0;
  height: 100vh;
}

.body-background-top {
  background: green;
}

.body-background-bottom {
  background: black;
}


.all-scene {
  height: 100%;
}

.first-part {
  height: 100%;
}

.grass {
  background: green;
  width: 100vw;
  height: 100%;
}

.sky {
  position: relative;
  background: cornflowerblue;
  width: 100vw;
  height: 100%;
}

.oblaka {
  background: red;
  width: 500px;
  height: 100px;
}

.left {
  position: absolute;
  left: 0;
  bottom: -30px;
}

.space {
  background: black;
  width: 100vw;
  height: 100%;
}
